.login-container {
  width: 100%;
  min-height: 100vh;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-wrapper {
  width: 420px;
  background: white;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  text-align: center;
}

.login-title {
  font-size: 26px;
  color: black;
  margin-bottom: 5px;
}

.sub-text {
  color: #6e6e6e;
  font-size: 14px;
  margin-bottom: 20px;
}

.sub-text a {
  color: #1e88e5;
  text-decoration: none;
}

.login-form {
  text-align: left;
  margin-bottom: 18px;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #c5c5c5;
  margin-bottom: 15px;
  font-size: 14px;
}

.password-box {
  position: relative;
}

.show-icon {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  font-size: 18px;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot {
  color: #1e88e5;
  font-size: 13px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1e88e5;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

.login-btn:hover {
  background: #1565c0;
}

.divider {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  color: #6e6e6e;
  font-size: 14px;
}

.google-btn,
.facebook-btn {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
    color: black;

}

.google-btn img,
.facebook-btn img {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}


.alerta {
  margin-top: 10px;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  animation: fadeIn .3s ease;
}

.alerta.error {
  background: #ffd1d1;
  color: #a10000;
}

.alerta.exito {
  background: #d4ffd8;
  color: #007a1b;
}

