.register-container {
  width: 100%;
  min-height: 100vh;
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Caja del título */
.title-box {
  width: 420px;
  background: white;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  text-align: left;
  margin-bottom: 2px;
}

.title-box h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 26px;
  color: #615b88;
  text-align: center;
}

/* Caja del formulario que ya tenías */
.register-form {
  width: 420px;
  background: #ebe9f1;
  padding: 25px 30px;
  border-radius: 25px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  color: #615b88;
}

label {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #c5c5c5;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background: #1e88e5;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #1565c0;
}

.error-msg {
  background: #ffb3b3;
  padding: 10px;
  border-radius: 5px;
  color: #900;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.success-msg {
  background: #b7f5c2;
  padding: 10px;
  border-radius: 5px;
  color: #0a8a2a;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
